### General Intro
- Python is the second most used language in the industry
- Python High level
- Low level - COBOL, FORTON, C
- Computer can understand only 0s and 1s
- Transistors - billions in a processor
- 1111000
- High Level - Python, Java, JS


### Execution method
- i) Compiler - Java, C, C++
   Execute once all the code are compiled together
- ii) Interpreter - Python
   Can Execute a single line of code if wanted

- Python is an interpreter language

## Data types

### Numbers

1. Integer
2. Floating point - Decimal number (123.less than 16 or 8)
3. Double precision - Decimal number (123.1234567891918162521727)

In [5]:
2 + 4

6

In [6]:
2 * 3

6

In [7]:
4 / 2

2.0

In [137]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

BODMAS - Brackets, Division, Multi, Addition, Sub

In [14]:
(2 + 3) * (5 + 5)

50

### Strings

- occurence of characters

In [ ]:
'singel quotes'

In [ ]:
"double quotes"

In [ ]:
"This is you'rs"

### Variable Assignment

- Variable is like a placeholder which can hold some space

In [15]:
# Can not start with number or special characters
placeholder = 2

In [18]:
z = x + y

In [17]:
x = 2
y = 3

In [19]:
z

5

### Keywords

- special words that cannot be used as a normal variable

In [63]:
Fal_se = 2

### Printing

In [32]:
x = 'bloody sweet'

In [23]:
x

'bloody sweet'

In [24]:
print(x)

bloody sweet

In [25]:
num = 7
name = 'Adaovi'

In [26]:
print('My favourite number is: {one}, and my name is: {two}'.format(one=num,two=name))

My favourite number is: 7, and my name is: Adaovi

In [27]:
print('My favourite number is: {}, and my name is: {}'.format(num,name))

My favourite number is: 7, and my name is: Adaovi

In [28]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 7, and my name is: Adaovi

### Lists

 - collections of different elements
 - denoted in []
 - lists are changeable/updateable (mutable)

In [33]:
[1,2,3]

[1, 2, 3]

In [34]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [35]:
my_list = ['a','b','c']

In [36]:
my_list

['a', 'b', 'c']

In [37]:
my_list.append('d')

In [38]:
my_list

['a', 'b', 'c', 'd']

## Indexing

In [ ]:
[start_index, end_index, step]

In [39]:
my_list[0]

'a'

In [40]:
my_list[1]

'b'

In [41]:
my_list[1:]

['b', 'c', 'd']

In [42]:
my_list[:1]

['a']

In [43]:
my_list[0] = 'NEW'

In [44]:
my_list

['NEW', 'b', 'c', 'd']

In [49]:
my_list[::4]

['NEW']

## Nested Lists

In [54]:
nest = [1,2,3,[4,5,['target',223]]]

In [51]:
nest[3]

[4, 5, ['target']]

In [52]:
nest[3][2]

['target']

In [55]:
nest[3][2][1]

223

### Dictionaries - key value pair

In [56]:
d = {'key1':'item1','key2':'item2'}

In [57]:
d

{'key1': 'item1', 'key2': 'item2'}

In [58]:
d['key1']

'item1'

### Booleans

In [59]:
True

True

In [60]:
False

False

### Tuples

 - Similar to lists
 - Tuples cannot be changed/updated (immutable)
 - Denoted as ()

In [65]:
t = (1,2,3)

In [67]:
t[2]

3

In [68]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

- Denoted as {}
- Sets doen't have any duplicate values

In [69]:
{1,2,3}

{1, 2, 3}

In [70]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [71]:
1 > 2

False

In [72]:
1 < 2

True

In [73]:
1 >= 1

True

In [74]:
1 <= 4

True

In [75]:
1 == 1

True

In [77]:
'hi' == 'hi'

True

## Logic Operators

In [78]:
(1 > 2) and (2 < 3) # all true

False

In [79]:
(1 > 2) or (2 < 3) # any one true

True

In [81]:
(1 == 2) and (2 == 3) and (4 == 4)

False

## if,elif, else Statements

In [87]:
if 3 < 2:
    print('Yep!')
    print("one")

In [89]:
if 3 < 2:
    print("you're right")
else:
    print('sorry your wrong')

sorry your wrong

In [90]:
if 1 > 2:
    print("you're right")
else:
    print('sorry your wrong')

sorry your wrong

In [91]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

## for Loops

In [92]:
seq = [1,2,3,4,5]

In [97]:
for item in seq:
    if item == 7:
        print("Key found")
    else:
        print("Key not present")

Key not present
Key not present
Key not present
Key not present
Key not present

In [98]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [99]:
for item in seq:
    print(item+item)

2
4
6
8
10

## while Loops

In [101]:
i = 1
while i <= 5:
    print(f'i is: {i}')
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

## range()

In [ ]:
range(5)

In [102]:
for i in range(5):
    print(i)

0
1
2
3
4

In [103]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [138]:
x = [1,2,3,4]
# Traditional way we use looping to access the list
# List comprehension - is a advanced technique used to access the list

In [139]:
out = []

for item in x:
    out.append(item**2)

print(out)

[1, 4, 9, 16]

In [141]:
[for item in x]

[2, 4, 6, 8]

In [106]:
[item**2 for item in x]

[1, 4, 9, 16]

# OOPS concepts

1. Classes and Objects
2. Methods/Functions
3. Abstraction
4. Encapsulation
5. Polymorphism

## methods/functions

- Reusable component
- Two types of methods
    - Builtin
    - user defined

In [112]:
# this is a demo function
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [110]:
my_func

In [113]:
my_func()

default

In [114]:
my_func('new param')

new param

In [115]:
my_func(param1='new param')

new param

In [116]:
def square(x):
    return x**2

In [117]:
out = square(2)

In [118]:
print(out)

4

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## methods

In [123]:
st = 'hello,my,name,is,Ronaldo'

In [120]:
st.lower()

'hello my name is ronaldo'

In [121]:
st.upper()

'HELLO MY NAME IS RONALDO'

In [125]:
st.split(' ')

['hello,my,name,is,Ronaldo']

In [126]:
tweet = 'Go Sports! #Sports'

In [127]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [128]:
tweet.split('#')[1]

'Sports'

In [129]:
d

{'key1': 'item1', 'key2': 'item2'}

In [130]:
d.keys()

dict_keys(['key1', 'key2'])

In [131]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [132]:
lst = [1,2,3]

In [133]:
lst.pop()

3

In [134]:
lst

[1, 2]

In [135]:
'x' in [1,2,3]

False

In [136]:
'x' in ['x','y','z']

True