# Data Types / Variable Types

## 1. Numerical Data:

- **i) Continuous:** These are numerical values that can take any real number within a certain range. Examples include height, weight, temperature, etc.
- **ii) Discrete:** These are numerical values that are counted in whole numbers and cannot take on every possible value within a range. Examples include the number of cars in a parking lot, the count of customer purchases, etc.

In [1]:
import pandas as pd

In [2]:
continuous_data = pd.DataFrame({
    'Weight': [65.2, 70.5, 68.8, 72.1, 67.4],
    'Temperature': [98.6, 98.2, 99.0, 98.8, 98.5]
})

discrete_data = pd.DataFrame({
    'Number_of_Cars': [2, 1, 3, 2, 4],
    'Items_Purchased': [5, 8, 6, 7, 4]
})

In [3]:
continuous_data

   Weight  Temperature
0    65.2         98.6
1    70.5         98.2
2    68.8         99.0
3    72.1         98.8
4    67.4         98.5

In [4]:
discrete_data

   Number_of_Cars  Items_Purchased
0               2                5
1               1                8
2               3                6
3               2                7
4               4                4

## 2. Categorical Data:

- **Nominal:** Categories with no inherent order or ranking. Examples include colors, types of fruits, etc.
- **Ordinal:** Categories with a meaningful order or ranking. However, the differences between the categories are not well-defined. Examples include education levels (e.g., high school, college, graduate), customer satisfaction ratings (e.g., low, medium, high).

In [5]:
nominal_data = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Yellow', 'Red']
})

ordinal_data = pd.DataFrame({
    'Education_Level': ['High School', 'College', 'Graduate', 'High School', 'College'],
    'Customer_Satisfaction': ['Low', 'Medium', 'High', 'Medium', 'Low']
})

In [8]:
nominal_data, ordinal_data

(    Color
 0     Red
 1    Blue
 2   Green
 3  Yellow
 4     Red,
   Education_Level Customer_Satisfaction
 0     High School                   Low
 1         College                Medium
 2        Graduate                  High
 3     High School                Medium
 4         College                   Low)

## 3. Time Series 
- Data collected over time, where the order of observations is crucial. Examples include stock prices, weather data, and sensor readings.

In [9]:
date_rng = pd.date_range(start='2023-01-01', end='2023-01-05', freq='D')

time_series_data = pd.DataFrame(date_rng, columns=['date'])
time_series_data['temperature'] = [32.5, 34.2, 30.8, 33.5, 31.7]

time_series_data

        date  temperature
0 2023-01-01         32.5
1 2023-01-02         34.2
2 2023-01-03         30.8
3 2023-01-04         33.5
4 2023-01-05         31.7

## Other Types of Data
- **Text**
- **Audio**
- **Image**
- **Video**